Source: maruska-top
Section: shells
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper(>=7)
Standards-Version: 3.7.2

Package: maruska-top-base
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, maruska-preference, maruska-misc, mmc-emacs, dircolors, mmc-emacs-config,mmc-sawfish, mmc-zsh,elinks, xplugin, fork-plugin, libfork, lsof,xdelta,human,mempeak,rlwrap,rxvt-beta,lightdm,chromium,git-core, gitk, emacs-snapshot-xlib,man,strace,xserver-xorg-input-evdev,xauth,zsh-syntax-highlighting,plocate,rep
Conflicts: exim4-base
Recommends:
Description: This should be enough to make maruska happy with the desktop.
 A container package -- pulling in dependencies which I am accustomed to.



Package: maruska-top-server
Architecture: all
Depends: maruska-top-base, libapache2-mod-fastcgi | libapache2-mod-fcgid,postgresql-12,libpq5, reprepro, mod-languagesubdomain
Recommends:
Description: This should be enough to make maruska happy with the Server.
 A container package -- pulling in dependencies which I am accustomed to.


Package: maruska-top-pg
Architecture: all
Depends: pg-natural-sex, char-in-set, pg-human, thumbsize, sadd
Recommends:
Description: This should be enough to make maruska PG databse work.
 A container package -- pulling in dependencies for database work.


Package: maruska-top-desktop
Architecture: all
Depends: sispmctl, unclutter, powertop, trayer, lshw, maruska-top-base,x11-xserver-utils,xinput,gconf2,mate-panel,claws-mail,claws-mail-newmail-plugin,claws-mail-multi-notifier,network-manager-gnome,firefox,mplayer,evince,pavucontrol, pulseaudio,mpg123,pulsemixer,gnome-settings-daemon,gnome-keyring,xkb-reset,gst123
Description: Things I need on GUI workstation.

Package: maruska-top-developer
Architecture: all
Depends: maruska-top-desktop, mmc-emacs-devel, emacs-goodies-el, debian-el, magit, zsh-doc, python-mode, elpa-paredit,git-hierarchy,gdb,colortail,manpages,manpages-dev,gawk-doc,gcc-doc,cmake-doc,cmake,gcc
Description: Things I use for development/work. Android gadgets

Package: maruska-top-work
Architecture: all
Depends: maruska-top-desktop, openvpn
Description: Things I use for work from home.

Package: maruska-top-android
Architecture: all
Depends: maruska-top-developer, adb,fastboot,pidcat,heimdall-flash,mkbootimg,abootimg
Description: Things I use for development with Android gadgets

Package: maruska-top-mail-server
Architecture: all
Depends: postfix, fetchmail, maildrop, mutt,dovecot,bsd-mailx
Description: Things I use for processing email.


Package: maruska-top-debian
Architecture: all
Depends: equivs, packaging-dev,dlocate, mmc-build-system,pbuilder,cowdancer,devscripts,libdistro-info-perl
Description: Things I use for processing email.


Package: maruska-top-techno
Architecture: all
Depends: usbutils, pciutils, ddcutil,wakeonlan,  bluez-firmware, pulseaudio-module-bluetooth, firmware-iwlwifi,firmware-realtek
Description: Things I need for hardware investigations.


Package: maruska-top-corporate
Architecture: all
Depends: maruska-top-desktop, telegram-desktop, slack-desktop, teams-insiders
Description: Things I need on GUI workstation.

Package: maruska-top-podman
Architecture: all
Depends: runc,fuse-overlayfs,podman,slirp4netns,uidmap
Description: Things I need on GUI workstation.

Package: maruska-top-commercial
Architecture: all
Depends: google-chrome-stable|google-chrome-unstable
Description: Commercial sw from external repositories


Package: maruska-top-scheme
Architecture: all
Depends: gauche, gauche-mmc-apps, chezscheme
Description: My favourite scheme environments


