Source: maruska-top
Section: shells
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper(>=11)
Standards-Version: 3.7.2

Package: maruska-top-base
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         maruska-preference,
         maruska-misc,
         emacs,
         mmc-emacs,
         dircolors,
         mmc-emacs-config,
         mmc-zsh,
         elinks,
         lsof, xdelta, human, mempeak,
         git-core, gitk,
         man,
         strace,
         zsh-syntax-highlighting,
         highlight,
         python3-docutils,
         nocache,
         cron,
         fwupd,
         psmisc
Conflicts: exim4-base
Recommends: plocate
Description: This should be enough to make maruska happy with the desktop.
 A container package -- pulling in dependencies which I am accustomed to.


Package: maruska-base-graphics
Architecture: all
Depends: maruska-top-base, xplugin, fork-plugin, libfork, rxvt-beta,wezterm,lightdm,xauth,xserver-xorg-input-evdev | xserver-xorg-input-libinput,mmc-sawfish,rep,xkb-reset
Conflicts: exim4-base
Recommends: plocate
Description: This should be enough to make maruska happy with the desktop.
 A container package -- pulling in dependencies which I am accustomed to.


Package: maruska-top-server
Architecture: all
Depends: maruska-top-base, libapache2-mod-fastcgi | libapache2-mod-fcgid,postgresql-17,libpq5, reprepro, mod-languagesubdomain,easy-rsa
Description: This should be enough to make maruska happy with the Server.
 A container package -- pulling in dependencies which I am accustomed to.


Package: maruska-top-pg
Architecture: all
Depends: pg-natural-sex, char-in-set, pg-human, thumbsize, sadd
Description: This should be enough to make maruska PG databse work.
 A container package -- pulling in dependencies for database work.


Package: maruska-top-desktop
Architecture: all
Depends: unclutter,
         powertop, lshw,
         maruska-top-base,
         maruska-base-graphics,
         x11-xserver-utils,
         xinput,
         mate-panel,
         mate-themes,
         gnome-settings-daemon,gnome-keyring,
         claws-mail,claws-mail-newmail-plugin,claws-mail-multi-notifier,
         network-manager-gnome,
         firefox,mplayer,
         evince,
         pavucontrol, pulseaudio,mpg123,pulsemixer,gst123,
         gthumb
Description: Things I need on GUI workstation.
Recommends: chromium, chromium-browser

Package: maruska-top-developer
Architecture: all
Depends: maruska-top-desktop,
         mmc-emacs-devel,
         emacs-goodies-el,
         elpa-debian-el,
         elpa-magit,
         zsh-doc,
         elpa-paredit,
         git-hierarchy,
         gdb,
         colortail,
         manpages,
         manpages-dev,
         gawk-doc,
         gcc, gcc-doc,
         cmake, cmake-doc,
         ninja-build, pkg-config,
         googletest, libgtest-dev, google-mock,
         gh,
         clangd
Description: Things I use for development/work. Android gadgets


Package: maruska-top-network
Architecture: all
Depends: openvpn, dnsmasq, ncat, macchanger
Description: Things I use for networking

Package: maruska-top-work
Architecture: all
Depends: maruska-top-desktop, openvpn, dnsmasq
Description: Things I use for work from home.

Package: maruska-top-android
Architecture: all
Depends: maruska-top-developer, adb,fastboot,pidcat,heimdall-flash,mkbootimg,abootimg
Description: Things I use for development with Android gadgets

Package: maruska-top-mail-server
Architecture: all
Depends: postfix, fetchmail, maildrop, mutt,dovecot,bsd-mailx
Description: Things I use for processing email.


Package: maruska-top-debian
Architecture: all
Depends: equivs, dlocate, mmc-build-system,devscripts,libdistro-info-perl,debspawn
Description: Things I need to produce debian packages


Package: maruska-top-techno
Architecture: all
Depends: usbutils, pciutils, ddcutil, wakeonlan, bluez-firmware, pulseaudio-module-bluetooth, firmware-iwlwifi,firmware-realtek,brightnessctl,acpi-support-base,acpi-support,acpi-fakekey,sispmctl,cheese
Description: Things I need for hardware investigations.

Package: maruska-top-corporate
Architecture: all
Depends: maruska-top-desktop, slack-desktop, teams-insiders
Description: Things I need on GUI workstation.

Package: maruska-top-podman
Architecture: all
Depends: runc,fuse-overlayfs,podman,slirp4netns,uidmap
Description: Things I need on GUI workstation.

Package: maruska-top-commercial
Architecture: all
Depends: google-chrome-stable|google-chrome-unstable
Description: Commercial sw from external repositories


Package: maruska-top-scheme
Architecture: all
Depends: rlwrap, gauche, gauche-mmc-apps, chezscheme
Description: My favourite scheme environments


